$primary-font-family: Verdana, sans-serif;
$primary-font-size: 11px;
$primary-font-color: #000;
$primary-page-bg: #fff;

$container-width-min: 770px;
$container-width-max: 1280px;

$link-color: #336699;
$link-color-hover: #336699;

$text-danger: #f00;
$primary-color: #386c93;
$secondary-color: #f99c02;
