.transition {
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
	     -o-transition: 0.5s;
	        transition: 0.5s;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.col {
	float: left;
}
.text-danger {
	color: $text-danger;
	white-space: nowrap;
}
input.field-medium,
input.field-big {
	height: 16px;
	line-height: 16px;
	width: 124px;
	color: #8e8e8e;
}
input.field-big {
	width: 150px;
}
.label {
	display: inline-block;
	margin-right: 7px;
	margin-left: 25px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.select_size_middle {
	color: #000;
	width: 124px;
	font-size: $primary-font-size - 1;
}
.select_size_big {
	width: 170px;
	font-size: $primary-font-size;
	color: #666;
	margin-left: 8px;
	background-position: 152px 1px;
	line-height: 1.2;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.top-margin-small {
	margin-top: 5px;
}
.top-margin-big {
	margin-top: 23px;
}
.text-underline {
	text-decoration: underline;
}