.nav {
	font-size: $primary-font-size - 1;
	@extend .clearfix;
	border-radius: 6px;
	background: #3689cb; /* Old browsers */
	background: -moz-linear-gradient(top,  #3689cb 0%, #0762a9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3689cb 0%,#0762a9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3689cb 0%,#0762a9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3689cb', endColorstr='#0762a9',GradientType=0 ); /* IE6-9 */
	margin-top: 4px;

}
.nav__item,
.nav__list-item {
	display: inline-block;
	color: #fff;
}
.nav__item {
	margin: 2px 8px;
}
.nav__list {
	list-style: none;
	float: right;
	margin: 3px 25px;

	.nav__list-item:first-child {
		border: 0;
	}
}
.nav__list-link,
.nav__list-link:hover {
	color: #fff;
}
.nav__list-item {
	padding: 0 10px;
	border-left: 1px solid #fff;
}
.nav select {
	width: 50px;
	background-position: 32px 1px;
}
.nav__form {
	margin-left: 0;
}

@media (max-width: 1140px) {
	.nav {
		margin-top: 12px;
	}
}